<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div padding>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </div>
    <div class="form-error" *ngIf="error$ | async" padding>{{error$ | async}}</div>
    <div padding>
      <button ion-button block type="submit" [disabled]="!loginForm.valid">
        <ion-spinner name="crescent" *ngIf="isLoading$ | async"></ion-spinner>
        <span *ngIf="!(isLoading$ | async)">Login</span>
      </button>
    </div>
  </form>
</ion-content>
