<ion-header>
  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div padding>
      <ion-item>
        <ion-label floating>First name</ion-label>
        <ion-input type="text" formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Last name</ion-label>
        <ion-input type="text" formControlName="last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </div>
    <div class="form-error" *ngIf="error$ | async" padding>{{error$ | async}}</div>
    <div padding>
      <button ion-button block type="submit" [disabled]="!registerForm.valid">
        <ion-spinner name="crescent" *ngIf="isLoading$ | async"></ion-spinner>
        <span *ngIf="!(isLoading$ | async)">Sign Up</span>
      </button>

    </div>
  </form>
</ion-content>
