<!--
  Generated template for the TodolistDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openCreateTodoPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content>
  <ion-list *ngIf="!(isLoading$ | async); else elseBLock">
    <ion-list-header>
      Tasks
    </ion-list-header>
    <ion-item-sliding *ngFor="let todo of todos | async" #item>
      <ion-item-options side="left">
        <button ion-button color="danger" expandable (click)="removeTodo(todo.id)">
          <ion-icon name="trash"></ion-icon>
          <div>Delete</div>
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="primary" expandable>
          <ion-icon name="create"></ion-icon>
          <div>Edit</div>
        </button>
      </ion-item-options>
      <ion-item text-wrap>
        <ion-label>{{ todo?.task }}</ion-label>
        <ion-checkbox color="primary" [checked]="todo.completed" (click)="toggleTodo(todo.id, todo.completed)"></ion-checkbox>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ng-template #elseBLock>
    <div class="spinner-wrap" padding>
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>
</ion-content>
