<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Task lists</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openCreateTodolistPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="!(isLoading$ | async); else elseBLock">
    <ion-item-sliding *ngFor="let todolist of todolists | async" #item>
      <ion-item-options side="left">
        <button ion-button color="danger" expandable (click)="removeTodolist(todolist.id)">
          <ion-icon name="trash"></ion-icon>
          <div>Delete</div>
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="primary" expandable>
          <ion-icon name="create"></ion-icon>
          <div>Edit</div>
        </button>
      </ion-item-options>
      <ion-item detail-push (click)="openDetails(todolist)">
        <ion-label>{{ todolist.title }}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ng-template #elseBLock>
    <div class="spinner-wrap" padding>
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>
</ion-content>
