<ion-content scroll="false" padding>
  <div class="gradient-bg"></div>
  <div class="content-wrapper">
    <ion-card>
      <div padding>
        <img src="assets/imgs/logo.png" class="app-logo">
      </div>
      <div padding>
        <button ion-button block (click)="signup()">{{ 'SIGNUP' }}</button>
        <button ion-button block (click)="login()" class="login">{{ 'LOGIN' }}</button>
      </div>
    </ion-card>
  </div>

</ion-content>
