@mixin gradient-linear(
  $color1,
  $color2: $color1,
  $color3: $color1,
  $color4: $color1,
  $color5: $color1,
  $color6: $color1,
  $color7: $color1,
  $color8: $color1
) {
  background-color: $color1; /* Old browsers */
  background-image: -moz-linear-gradient(
    left,
    $color1 0%,
    $color2 12.5%,
    $color3 25%,
    $color4 37.5%,
    $color5 50%,
    $color6 62.5%,
    $color7 75%,
    $color8 87.5%,
    $color1 100%
  ); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(
    left,
    $color1 0%,
    $color2 12.5%,
    $color3 25%,
    $color4 37.5%,
    $color5 50%,
    $color6 62.5%,
    $color7 85.5%,
    $color8 87.5%,
    $color1 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(
    to right,
    $color1 0%,
    $color2 12.5%,
    $color3 25%,
    $color4 37.5%,
    $color5 50%,
    $color6 62.5%,
    $color7 75%,
    $color8 87.5%,
    $color1 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
page-welcome {
  .app-logo {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .content-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .login {
    margin-top: 8px;
  }
  .gradient-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 2000vw;
    height: 100%;
    @include gradient-linear(
      #f26624,
      #ffee00,
      #e94311,
      #f26624,
      #ffee00,
      #e94311,
      #f26624,
      #ffee00
    );
    background-repeat: no-repeat;
    background-position: 0 0;

    animation-name: gradientAnim;
    animation-iteration-count: infinite;
    animation-delay: 0;
    animation-duration: 60s;
    animation-timing-function: linear;
  }
  @keyframes gradientAnim {
    0% {
      transform: translateX(0)
    }
    50% {
      transform: translateX(-1000vw)
    }
    100% {
      transform: translateX(0)
    }
  }
}
