<!--
  Generated template for the CreateTodolistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Create todolist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="newTodolistForm" (ngSubmit)="createNewTodolist()">
    <div padding>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Members</ion-label>
        <ion-select formControlName="members" multiple="true">
          <ion-option *ngFor="let user of users | async" [value]="user.uid">{{user.first_name}} {{user.last_name}}</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div padding>
      <button ion-button block type="submit" [disabled]="!newTodolistForm.valid">
        <span>Create</span>
      </button>
    </div>
  </form>
</ion-content>
