<!--
  Generated template for the CreateTodoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar>
    <ion-title>Create Task</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="newTodoForm" (ngSubmit)="createNewTodo()">
    <div padding>
      <ion-item>
        <ion-label floating>Task</ion-label>
        <ion-input type="text" formControlName="task"></ion-input>
      </ion-item>
    </div>
    <div padding>
      <button ion-button block type="submit" [disabled]="!newTodoForm.valid">
        <span>Create</span>
      </button>
    </div>
  </form>
</ion-content>
